#now-playing {
    background-color: #000000;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    line-height: 1.5;
}

#now-playing img {
    max-width: 200px;
    display: inline-block;
    margin-top: 10px;
}
