{{ $user := .Get 0 }}
{{ $limit := .Get 1 | default 10 }}
<div class="lastfm-topartists-widget">
  <h3>Top Artists for {{ $user }} on Last.fm</h3>
  <ul>
    {{ $url := printf "https://ws.audioscrobbler.com/2.0/?method=user.gettopartists&user=%s&api_key=%s&format=json&limit=%d" $user "7ef62a8b03150f58e3faa5c113eca40f" $limit }}
    {{ $response := getJSON $url }}
    {{ range $response.topartists.artist }}
      <li>
        <img src="{{ .image.3.text }}" alt="{{ .name }} avatar" width="64" height="64">
        <span class="artist-name">{{ .name }}</span>
        <span class="play-count">{{ .playcount }} plays</span>
      </li>
    {{ end }}
  </ul>
</div>