<div id="lastfm-now-playing"></div>
<script>
  async function fetchLastFmData() {
    const response = await fetch('https://ws.audioscrobbler.com/2.0/?method=user.getrecenttracks&user=jcrabapple&api_key=7ef62a8b03150f58e3faa5c113eca40f&format=json');
    const data = await response.json();
    const track = data.recenttracks.track[0];
    const nowPlaying = track['@attr'] && track['@attr'].nowplaying ? 'Now playing' : 'Last played';
    document.getElementById('lastfm-now-playing').innerHTML = `
    <i class="ph ph-music-notes"></i><strong>${nowPlaying}:</strong> 
      <a href="${track.url}" target="_blank">${track.artist['#text']} - ${track.name}</a>
    `;
  }
  fetchLastFmData();
</script>
    