<style>
    .statuslol {
        background-color: transparent;
        color: white;
        border-color: #efefef;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        border-radius: .5em;
        padding: 1em;
      }
    .statuslol_emoji_container {
        flex: 0 0 1em;
        font-size: 3em;
        padding-right: 0;
    }
    .statuslol_emoji .medium-zoom-image img {
        width: 1.5em;
    }
    .statuslol_time {
        opacity: .5;
        color: rgb(255, 255, 255);
    }
</style>

<script src="https://status.lol/jcrabapple.js?time&link"></script>